.NLT__option-bar {
    width: 100%;
    padding: var(--size-4-4) var(--size-4-4) 0 var(--size-4-4);
}

.NLT__sort-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 2px 6px;
    border: 1px solid var(--background-modifier-border);
    user-select: none;
    background-color: var(--background-modifier-border);
}