.NLT__td {
	display: inline-block;
	border-top: 1px solid var(--background-modifier-border) !important;
	border-left: 1px solid var(--background-modifier-border) !important;
	border-right: 0 !important;
	border-bottom: 0 !important;
	box-sizing: border-box !important;
	vertical-align: top;
	min-height: 2rem;
}