.NLT__td {
	display: inline-block;
	border-top: 1px solid var(--background-modifier-border) !important;
	border-left: 1px solid var(--background-modifier-border) !important;
	border-right: 0 !important;
	border-bottom: 0 !important;
	box-sizing: border-box !important;
	vertical-align: top;
	min-height: 2rem;
	padding: 0 !important;
}

.NLT__tbody > .NLT__tr > .NLT__td:last-child {
	border-top: 0 !important;
}

.NLT__tbody > .NLT__tr:last-child > .NLT__td {
	border-bottom: 1px solid var(--background-modifier-border) !important;
}

.NLT__tbody >.NLT__tr:last-child>.NLT__td:last-child {
	border-bottom: 0 !important;
}

.NLT__tfoot > .NLT__tr >.NLT__td {
	border: 0 !important;
}

.NLT__td-container {
	padding: 4px 10px;
}