.dataloom-input {
    width: 100%;
    height: 100% !important; /* Override Obsidian mobile style */
    transition: none !important;
    font-size: var(--text-normal) !important; /* Reset to default Obsidian style */
    box-shadow: none !important;
}

.dataloom-input--transparent {
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 0 !important;
    padding: var(--dataloom-spacing--sm) var(--dataloom-spacing--lg) !important;
}

.dataloom-input--border {
    border: 1px solid var(--table-border-color) !important;
    background-color: var(--background-secondary) !important;
}

.dataloom-input--numeric {
    /* border: 0 !important;
    border-radius: 0 !important; */
    text-align: right;
}

.dataloom-input--error {
    outline: 2px solid var(--background-modifier-error) !important;
    outline-offset: -2px;
}

.dataloom-input--error:focus {
    outline: 2px solid var(--background-modifier-error) !important;
}

.dataloom-input__focus-outline--default {
    outline: 2px solid var(--background-modifier-border-focus) !important;
    outline-offset: -2px;
}

.dataloom-input__focus-outline--none {
    outline: none !important;
}