# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Ignore build files
dist/main.css
dist/main.css.map
dist/main.js
dist/main.js.map
dist/styles.css
# obsidian
dist/data.json
