# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Ignore build files
main.css
main.css.map
main.js
main.js.map

# Ignore only the build styles.css
/styles.css

# obsidian
data.json

# pnpm lock yaml
pnpm-lock.yaml
