.dataloom-multi-select {
	box-shadow: var(--input-shadow);
	border-radius: var(--input-radius);
	height: var(--input-height);
	font-size: var(--font-ui-small);
	background-color: var(--interactive-normal);
	color: var(--text-normal);
	padding: 0 1.9em 0 0.8em;
}

.dataloom-multi-select:hover {
	box-shadow: var(--input-shadow-hover);
	background-color: var(--interactive-hover);
}

.dataloom-multi-select__options {
	width: 100%;
	cursor: pointer;
}

.dataloom-multi-select__option {
	padding: 2px 6px;
}
