/*
* Table Styles
*/
.NLT__hidden-column {
	border: 0 !important;
	width: 50px;
}

.NLT__th {
	cursor: default;
}

.NLT__td {
	vertical-align: top;
	height: 2rem;
	cursor: default;
}

.NLT__header {
	display: flex;
	width: 100%;
}

/*
* General
*/
.NLT__button--reset {
	padding: 0;
	border: 0;
	margin: 0;
}

.NLT__button--selected {
	background-color: rgba(0, 0, 0, 0.25);
}

.NLT__button--selected:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.NLT__button-group {
	display: flex;
	align-items: center;
}

.NLT__p {
	margin: 0;
}

.NLT__textarea {
	height: 100%;
	width: 100%;
	padding: 4px 10px;
	border: 0;
}

/*
* Th Body
*/
.NLT__header-group {
	display: flex;
}

.NLT__header-content {
	margin-right: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*
* Menu
*/
.NLT__menu {
	position: relative;
}

.NLT__menu--reset {
	padding: 0 !important;
}

.NLT__drag-menu-inner {
	padding: 10px 5px;
	width: 100%;
	font-size: 0.9rem;
}

.NLT__selectable:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.NLT__menu-container {
	padding: 0.5rem 1rem;
	font-size: 0.9rem;
}

.NLT__menu-item {
	padding: 0;
	margin: 0.25rem 0px;
}

.NLT__menu-item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.NLT__menu-header {
	font-size: 0.8rem;
	margin-top: 0.5rem;
}

/*
* Icon
*/
.NLT__icon-item {
	display: flex;
	align-items: center;
	padding: 0px 10px;
}
