/** This sizes down the original Obsidian switch by 0.75 **/
.dataloom-switch {
    width: calc(var(--toggle-width) * 0.75);
    height: calc((var(--toggle-thumb-height) * 0.75) + (var(--toggle-border-width) * 2 * 0.75));
    transition: none !important;
}

.dataloom-switch:after {
    width: calc(var(--toggle-thumb-width) * 0.75); 
    height: calc(var(--toggle-thumb-height) * 0.75);
}

.dataloom-switch.is-enabled:after {
    transform: translate3d(calc((var(--toggle-width) - var(--toggle-thumb-width) - var(--toggle-border-width)) * 0.75), 0, 0);
}

.dataloom-switch input {
    width: calc(var(--checkbox-size) * 0.75);
    height: calc(var(--checkbox-size) * 0.75);
}

.dataloom-switch:active:after {
    width: calc((var(--toggle-thumb-width) * 0.75) + (var(--toggle-border-width)));
}

.dataloom-switch:focus-visible {
    outline: 2px solid var(--text-on-accent-inverted);
    outline-offset: 0px;
}

.dataloom-switch--dark {
    outline-color: var(--text-on-accent);
}