.Dashboards__import-app {
    margin-top: 20px;
}

.Dashboards__import-app .error-text {
    font-size: 12px;
    color: var(--text-error);
    visibility: hidden;
}

.Dashboards__import-app .error-text--visible {
    visibility: visible;
}

.Dashboards__import-app label {
    font-size: 0.8rem;
    font-weight: 600;
}