.NLT__color-item {
    display: flex;
    align-items: center;
    padding: 0px 5px;
    width: 100%;
}

.NLT__color-item-square {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 10px 0 0;
}