.dataloom-export-app textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
}

.dataloom-export-app select {
    background-color: var(--background-secondary-alt) !important;
}

.dataloom-copy-button {
    background-color: var(--background-secondary-alt) !important;
}