.dataloom-modal__divider {
    margin: 1.5em 0;
}

.dataloom-modal__divider--first-child {
    margin-top: 0;
}

.dataloom-modal-text--emphasize {
    color: var(--text-accent);
}

.dataloom-modal__title {
    margin-bottom: 0;
}