.dataloom-cell__body-container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: var(--dataloom-cell-min-height);
    padding: var(--dataloom-cell-spacing-x) var(--dataloom-cell-spacing-y);
    cursor: pointer;
    color: var(--text-normal); /* Stop dimming of text when mouse leaves embedded loom */
}

.dataloom-cell__body-container--default-cursor {
    cursor: default;
}