.NLT__header-menu {
	padding: 4px 10px;
	cursor: default;
}

.NLT__header-menu-ul {
	padding: 0;
	margin: 0;
}

.NLT__header-menu-header {
	font-size: 0.8rem;
	margin-top: 0.5rem;
}

.NLT__header-menu-item {
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}