.dataloom-color-item {
    display: flex;
    align-items: center;
    padding: var(--dataloom-spacing--xs) var(--dataloom-spacing--lg);
    width: 100%;
}

.dataloom-color-item-square {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 10px 0 0;
}