.react-select {
    width: 150px !important;
}

.react-select input:focus {
    border: 0 !important;
    box-shadow: none !important;
}
.react-select input:focus-visible {
    border: 0 !important;
    box-shadow: none !important;
}