/*
* Error
*/
.NLT__error {
	color: red;
}

.NLT__app {
	overflow: auto;
	min-height: 300px;
}

/*
* Button
*/
.NLT__button {
	padding: 4px !important;
}

.NLT__button--sm {
	width: 50px;
}

.NLT__button--reset {
	padding: 0;
	border: 0;
	margin: 0;
}

/*
* Icon
*/
.NLT__icon--selectable:hover {
	border-radius: 4px;
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.2);
}

.NLT__icon--md {
	width: 1rem !important;
	height: 1rem !important;
}

/*
* Input
*/
.NLT__hidden-textarea {
	position: absolute;
	cursor: default;
	z-index: var(--layer-cover);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 0;
	opacity: 0;
}

/*
* Selectable and selected
*/
.NLT__selectable {
	cursor: pointer;
}

.NLT__selectable:hover {
	background-color: var(--interactive-hover)
}

.NLT__selected {
	background-color: var(--interactive-normal);
}

/*
* Margin
*/
.NLT__margin-right {
	margin-right: 5px;
}

.NLT__margin-left {
	margin-left: 5px;
}

/*
* Table
*/
.NLT__hidden-column {
	border: 0 !important;
	width: 50px;
}

/*
* Paragraph
*/
.NLT__p {
	margin: 0;
}

/*
* Input
*/
.NLT__input {
	height: 100%;
	width: 100%;
	padding: 4px 10px !important;
	border: 0 !important;
}

.NLT__input--number {
	text-align: right;
}

/*
* Menu
*/
.NLT__clickable {
	position: relative;
}

.NLT__menu {
	position: absolute;
	padding: 0 !important;
	border-radius: 4px;
	font-weight: 400;
	background-color:var(--background-primary);
	border: 1px solid var(--background-modifier-border);
	box-shadow: 0 2px 8px var(--background-modifier-box-shadow);
	z-index: var(--layer-menu);
}
