.NLT__number-cell-edit > input {
    width: 100%;
    height: 100%;
    text-align: right;
    vertical-align: top;
    border: 0;
    font-family: var(--font-text);
    font-size: var(--nlt-font-size--xl);
}