
:root {
/** Spacing system **/
--nlt-spacing--xs: 2px;
--nlt-spacing--sm: 4px;
--nlt-spacing--md: 8px;
--nlt-spacing--lg: 12px;
--nlt-spacing--xl: 16px;
--nlt-spacing--2xl: 24px;
--nlt-spacing--3xl: 36px;
--nlt-spacing--4xl: 48px;

--nlt-cell-spacing-x: var(--nlt-spacing--sm);
--nlt-cell-spacing-y: var(--nlt-spacing--lg);
--nlt-cell-min-height: 1.9rem;

/** Font system **/
--nlt-font-size--xs: 0.8rem;
--nlt-font-size--sm: 0.9rem;
--nlt-font-size--md: 1rem;
--nlt-font-size--lg: 1.1rem;

}

/*
 * Colors
 */
.DataLoom__light-gray--light {
	/* background-color: #cfcfc4; */
	background-color: hsl(0, 3%, 94%);
}

.DataLoom__light-gray--dark {
	background-color: hsl(0, 0%, 22%);
}

.DataLoom__gray--light {
	/* background-color: #cfcfc4; */
	background-color: hsl(40, 5%, 88%);
}

.DataLoom__gray--dark {
	background-color: hsl(0, 0%, 35%);
}

.DataLoom__brown--light {
	background-color: hsl(18, 31%, 89%);
}

.DataLoom__brown--dark {
	background-color: hsl(19, 32%, 27%);
}

.DataLoom__orange--light {
	background-color: hsl(28, 67%, 88%);
}

.DataLoom__orange--dark {
	background-color: hsl(28, 52%, 32%);
}

.DataLoom__yellow--light {
	background-color: hsl(43, 82%, 89%);
}

.DataLoom__yellow--dark {
	background-color: hsl(37, 43%, 36%);
}

.DataLoom__green--light {
	background-color: hsl(113, 30%, 89%);
}

.DataLoom__green--dark {
	background-color: hsl(138, 23%, 28%);
}

.DataLoom__blue--light {
	background-color: hsl(205, 41%, 89%);
}

.DataLoom__blue--dark {
	background-color: hsl(218, 38%, 30%);
}

.DataLoom__purple--light {
	background-color: hsl(272, 29%, 90%);
}

.DataLoom__purple--dark {
	background-color: hsl(266, 34%, 28%);
}

.DataLoom__pink--light {
	background-color: hsl(330, 36%, 91%);
}

.DataLoom__pink--dark {
	background-color: hsl(330, 31%, 30%);
}

.DataLoom__red--light {
	background-color: hsl(11, 64%, 91%);
}

.DataLoom__red--dark {
	background-color: hsl(8, 35%, 30%);
}

/*
 * Selectable and selected
 */
.DataLoom__selectable {
	cursor: pointer;
}

.DataLoom__selectable:hover {
	background-color: var(--color-base-30);
}

.DataLoom__selected {
	background-color: var(--color-base-20);
}

/**
* Remove padding from the view container
*/
.workspace-leaf-content[data-type="table"] .view-content {
	padding: 0;
}

/**
* Obsidian automatically has a style applied to
* button:not(.clickable-icon)
* We want to override this for our buttons
*/
/* .DataLoom__app button, .DataLoom__menu button {
	background-color: unset;
	box-shadow: unset;
} */

.DataLoom__default-cursor {
	cursor: default !important;
}

.DataLoom__focusable:focus-visible, .DataLoom__focus-visible {
	outline: 2px solid var(--color-accent) !important;
	outline-offset: -2px !important;
}

.DataLoom__focusable--inverted:focus-visible {
	outline: 2px solid var(--text-on-accent-inverted);
	outline-offset: 0px;
}

.DataLoom__blur--cell {
	outline: 2px solid var(--background-modifier-border-focus) !important;
	outline-offset: -2px;
}

.DataLoom__blur {
	outline: 2px solid var(--color-accent) !important;
	outline-offset: -2px;
}

.DataLoom__tr--drag-over {
	/* outline: 2px solid var(--color-accent);
	outline-offset: -2px; */
	border-bottom: 1px solid var(--color-accent) !important;
}

.DataLoom__th--drag-over {
	/* outline: 2px solid var(--color-accent);
	outline-offset: -2px; */
	border-bottom: 1px solid var(--color-accent) !important;
}