.dataloom-whats-new-modal__spacer {
	height: 10px;
}

.dataloom-whats-new-modal__badge-container {
	margin: 20px 0px;
}

.dataloom-whats-new-modal__content strong {
	font-size: var(--font-ui-large);
}
