.dataloom-text {
    white-space: nowrap;
    margin: 0;
    color: var(--text-normal);
}

.dataloom-text--muted {
    color: var(--text-muted);
}

.dataloom-text--faint {
    color: var(--text-faint);
}

.dataloom-text--semibold {
    font-weight: var(--font-semibold);
}

.dataloom-text--on-accent {
    color: var(--text-on-accent);
}

.dataloom-text--error {
    color: var(--text-error);
}