.Dashboards__p {
    white-space: nowrap;
    margin: 0;
    color: var(--text-normal);
}

.Dashboards__text-muted {
    color: var(--text-muted);
}

.Dashboards__text-faint {
    color: var(--text-faint);
}

.Dashboards__text-semibold {
    font-weight: var(--font-semibold);
}