.DataLoom_p {
    white-space: nowrap;
    margin: 0;
    color: var(--text-normal);
}

.DataLoom_text-muted {
    color: var(--text-muted);
}

.DataLoom_text-faint {
    color: var(--text-faint);
}

.DataLoom_text-semibold {
    font-weight: var(--font-semibold);
}