.NLT__th {
    display: inline-block;
    text-align: left;
    border-top: 1px solid var(--background-modifier-border) !important;
    border-left: 1px solid var(--background-modifier-border) !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    box-sizing: border-box !important;
    padding: 0 !important;
}

.NLT__th:last-child {
    border-top: 0 !important;
}

.NLT__th-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.NLT__th-content {
    /* Use 100% so that the resize indicator appears at the end */
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    padding: 4px 10px;
}

.NLT__th-resize-container {
    position: relative;
}

.NLT__th-resize {
    position: absolute;
    cursor: col-resize;
    left: -3px;
    width: 10px;
    height: 100%;
}