.NLT__th {
    text-align: left;
    /* Fix border not resizing with div */
    /* https: //github.com/mui/material-ui/issues/3687 */
    /* transform: translate3d(0px, 0px, 0px); */
}

/* .NLT__th:focus-visible {
    border: 1px solid blue;
    border-style: double;
} */

.NLT__th:last-child {
    border: 0 !important;
}

.NLT__header-content-container {
    display: flex;
}

.NLT__header-resize-container {
    position: relative;
}


.NLT__header-content {
    /* Use 100% so that the resize indicator appears at the end */
    width: 100%;
    padding-right: 10px;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}

.NLT__header-resize {
    position: absolute;
    cursor: col-resize;
    width: 10px;
    left: 7px;
    min-height: 25px;
    height: 100%;
}