.NLT__th-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: var(--nlt-cell-min-height);
}

.NLT__th-content {
    display: flex;
    align-items: center;
    /* Use 100% so that the resize indicator appears at the end */
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    padding: var(--nlt-cell-spacing-x) var(--nlt-cell-spacing-y);
}

.NLT__th-resize-container {
    position: relative;
}

.NLT__th-resize {
    position: absolute;
    left: -5px;
    cursor: col-resize;
    width: 5px;
    height: 100%;
}

.NLT__th-resize:hover {
    background-color: var(--interactive-accent);
}

.NLT__th-resize--active {
    background-color: var(--interactive-accent);
}