.dataloom-match-columns table {
    border-collapse: collapse;
}   

.dataloom-match-columns th, .dataloom-match-columns td {
    border: 1px solid var(--background-modifier-border);
    padding: 0.5em;

}