.dataloom-filter-row {
    width: 100%;
}

.dataloom-filter-row__input input {
    width: 150px;
}

.dataloom-filter-row select {
   max-width: 175px;
}

.dataloom-filter-row__spacer {
    width: 60px;
}
