.NLT__tag-menu {
	background-color: var(--background-primary);
}

.NLT__tag-input {
	background-color: transparent !important;
	border: 0 !important;
	width: 100%;
	padding-left: 5px !important;
	padding-right: 5px !important;
}
