.dataloom-cell--footer__container {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    overflow: hidden;
    padding: var(--dataloom-cell-spacing-x) var(--dataloom-cell-spacing-y);
}